# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/

/.idea/

# Specific files
data/token.txt
data/debugToken.txt

# Data
data/sound/*
!data/sound/USAGE.md

data/surprise/surprise.txt

data/schnitzel/*
!data/schnitzel/USAGE.md